* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*evita que os elementos aumente de tamanho inesperadamente facilitando o controle da responsividade*/
    list-style: none;
}

/*estilizando o header*/
.cabecalho {
    background-color: #fe0902;
    color: white;
    padding: 1.5rem;
    /*poderoa ser 24px*/
    /*alinhamento dos itens*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* header fixo*/
    position: sticky;
    /*posicionamento do header para sobrer os outros elementos*/
    left: 0;
    top: 0;
    z-index: 999;
    /*eixo-z - profundidade do elemento*/
}

.div-logo img {
    width: 30%;
    /*usando o % para diminuir seu tamanho*/
}

/*estilização do botão header*/
.div-button a button {
    width: 5rem;
    /*poderia ser 80 px*/
    padding: 0.5rem
        /*8px - preenchimento*/
    ;
    background-color: #3b0000;
    /*cor do botão*/
    border: none;
    /*remoção das bordas*/
    color: white;
    font-weight: 700;
    /*espessura da font do botão*/
    border-radius: 8px;
    /*arredodamento da borda*/

}

.section-1 {
    padding: 10rem;
    /*preenchimento interno da section*/
    background-image: url(imagens/theotherkev-amur-tiger-4155922_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /*poderia utilizar 32px*/
    flex-wrap: wrap;
    /*isso significa que as div poderão quebrar de linha, caso necessario*/
}

.div-01 {
    background-color: #950904;
    /*cor de fundo da caixa*/
    color: white;
    /*cor dos textos*/
    text-align: center;
    /*alinhamento centralizado dos textos*/
    font-size: 2rem;
    /*tamanho da letra dentro da caixa*/
    padding: 1rem;
    /*preenchimento da pagina*/
    width: 25%;
    /*largura da caixa em porcentagem*/
    height: 25rem;
    /*altura da caixa utilizando REM*/
    min-width: 299px;
    /*definindo uma largura minima*/
}

.div-01 p{
    font-size: 1.3rem;
}

.div-02 {
    padding: 10rem;
    width: 25%;
    height: 25rem;
    min-width: 299px;
    background-image: url(imagens/tigrinho.jpg);
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(180deg, #01021064 8.33%, rgba(7, 15, 28, 0.745) 100%), url(imagens/tigrinho.jpg); */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

/*aqui estamos estilizando as listas*/
.ul-div01 li a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 1.3rem;

}



.ul-div01 li {
    margin: 5px 5px;
    /*alterando os 4 lados externos dos elementos, primeiro valor (superior, inferior) e segundo valor(laterais esqueda e direita)*/
}

.div-02 i {
    color: rgb(0, 0, 0);
    font-size: 2.3rem;
    margin-right: 100px;

}

.fa-cash-app:hover,
.fa-cc-mastercard:hover {
    color: rgb(255, 255, 255);
    transition: 0.8;
}

.img-div {
    padding: 7%;
    /*preenchimento interno*/
    background-image: url(imagens/alalal\ \(1\).jpg);
    /*caminho da img*/
    background-position: center;
    /*posicionamento da img*/
    background-size: cover;
    /*preenchimento total da img na caixa*/
}

.section-2 {
    display: flex;
    /*tornando flex/lado lado*/
    justify-content: center;
    /*alinhamento vertical*/
    align-items: center;
    /*alinhamento vertical*/
    gap: 1.5rem;
    /*brecha entre as caixas*/
    padding: 5rem;
    /*preenchimento interno*/
    background-color: #050505;
    /*copr de fundo*/
    flex-wrap: wrap;
    /*caso necessario vc quebra as caixas*/

}

.caixa {
    width: 25%;
    /*largura da caixa*/
    height: 22rem;
    /*altura da caixa*/
    background-color: rgb(156, 17, 17);
    /*cor de fundo*/
    min-width: 299px;
    /*largura minima da div*/
    font-size: 1.2rem;
    /*tamanho das letras*/
    color: white;
    /*cor dos textos*/
    box-shadow: 10px 10px 20px rgba(245, 222, 179, 0.354);
    /*sombra externa das caixas*/
    cursor: pointer;
    /*ao passar o cursor aparece uma mao de clicar*/
}

.caixa:hover {
    box-shadow: 12px 12px 22px rgba(245, 222, 179, 0.557);
    transition: 0.8s;
}

.section-3 {
    display: flex;
    /*tornando flex/lado lado*/
    justify-content: center;
    /*alinhamento vertical*/
    align-items: center;
    /*alinhamento vertical*/
    gap: 1.5rem;
    /*brecha entre as caixas*/
    padding: 5rem;
    /*preenchimento interno*/
    background-color: #050505;
    /*copr de fundo*/
    flex-wrap: wrap;
    /*caso necessario vc quebra as caixas*/
}

/*classes primarias para a estilização*/
.div-3, .div-4 {
    height: 7rem;
    /*altura das caixas*/
    padding: 2rem;
    text-align: center;
    margin-top: 70px;
}

.content-text {
    text-align: start;
    margin-top: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.div-3 i {
    color: rgb(78, 46, 46);
    font-size: 2rem;
    margin-top: 1.3rem;
}

.button-div4 a button {
    padding: 0.5rem;
    background-color: #3b0000;
    color: white;
    font-weight: 600;
    margin: 1rem 0;
}

.section-4 {
    display: flex;
    /*tornando flex/lado lado*/
    justify-content: center;
    /*alinhamento vertical*/
    align-items: center;
    /*alinhamento vertical*/
    gap: 1.5rem;
    /*brecha entre as caixas*/
    padding: 5rem;
    /*preenchimento interno*/
    background-color: #050505;
    /*copr de fundo*/
    flex-wrap: wrap;
    /*caso necessario vc quebra as caixas*/
}

.caixa {
    width: 25%;
    height: 22rem;
    background-color: rgb(221, 3, 3);
    min-width: 299px;
    font-size: 1.2rem;
    color: white;
    box-shadow: 10px 10px 20px rgb(167, 167, 167);
    border-radius: 20px;
    
}

.caixa:hover {
    box-shadow: 15px 15px 25px rgb(255, 255, 255);
    transition: 0.8s;
}

.div03, .div04 {
    height: 15rem;
    text-align: center;
}

.section-03 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 5rem ;
   background-color: black;
   flex-wrap: wrap;
}

.content-text {
    text-align: start; /*Alinhando os textos ao inicio*/
    margin: 1rem; /*espaçamento em torno da caixa*/
    color: aliceblue; /*cor do texto*/
    font-weight: 500;/*peso da font*/

}

.icon-div03 {
    color: rgb(155, 152, 152); /*cores do icon*/
    font-size: 3rem; /*tamanho dos icon*/
    margin-top: 1.2rem;/*espaçamento superior dos icon */
}

/* inicio formatação caixa 02 da section03 */

.button-div04 a button {
    padding: 0.5rem;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    margin: 1rem 0;
}

.text-div04 p {
    color: aliceblue;
}

.batata {
    background-color: rgb(255, 255, 255);
    color: black;
}










.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

}

.social-media {
    padding: 1.5rem;
}

.social-media i {
    font-size: 2em;
    color: white;
    transition: 0.8s;
    margin: 0.5em;
}

.social-media i:hover {
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.46);
}

.line {
    width: 60%;
    margin: 0.5em auto;

}

.line-strong {
    margin: 2rem auto;
    width: 70%;

}

.div-list ul li {
    list-style: none;
    margin-top: 1em;
}

.div-list ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.407);
    transition: 0.8s;
}

.div-list ul li a:hover {
    color: rgba(255, 255, 255, 0.552);

}

.rodape {
    background-color: #000000fd;
    color: rgba(255, 255, 255, 0.267);
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}

.caixa1{
    background-image: url(imagens/roleta\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


.titulo-caixa2{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 1.4rem;

}

.paragrafo-div2{
    text-align: center;
    font-size: 1,3rem;
}
 
.caixa3 img{
    width: 100%;
    height: 50%;
}

.caixa3 p{
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
}

.caixa6 img{
    width: 100%;
}

.caixa6 p{
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
}

.caixa7 img{
    width: 100%;
    height: 50%;
}

.caixa7 p{
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
}

.caixa8 img{
    width: 100%;
    height: 50%;
}

.caixa8 p{
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
}
.whatsapp img{
    width: 50px;
}

.whatsapp{
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.whatsapp img:hover{
    width: 60px;
    transition: 0.8s;
}